
<section class="back">
    <mat-grid-list cols="3" rowHeight="400px">
        <mat-grid-tile *ngFor="let forfait of TableauForfaits">
            <ng-template [ngIf]="forfait. forfaitVedette === true">
            <mat-card>
                <div class="rabais" *ngIf="forfait.prix > forfait.rabais">
                    <p>Rabais de <br>
                        {{forfait.prix - forfait.rabais}}$ CAD</p>
                </div>
                
                <mat-card-title>{{forfait.destination}}</mat-card-title>

                <mat-card-subtitle>Départ de : {{forfait.villeDepart}}</mat-card-subtitle>

                <mat-card-content>
                    <h2>{{forfait.hotel.nom}} <br> <app-etoiles></app-etoiles></h2><br>
                    Départ : {{forfait.dateDepart}} <br>
                    Durée : 7 Jours

                    <div *ngIf="forfait.prix > forfait.rabais; else elseBlock ">
                        <h1><S>{{forfait.prix}}$ CAD</S> - {{forfait.rabais}}$ CAD</h1>
                    </div>

                    <ng-template #elseBlock><h1>{{forfait.prix}}$ CAD</h1></ng-template>
                       
                </mat-card-content>
                

            </mat-card>
        </ng-template>
        </mat-grid-tile>
    </mat-grid-list>
</section>

