
<div class="boite1">
    <div *ngFor="let forfait of TableauForfaits | vedette | slice:0:3">
        <div class="card">
            <div class="container">
                <div class="rabais" *ngIf="forfait.prix > forfait.rabais">
                    <p>Rabais de <br> {{forfait.prix - forfait.rabais}}$ CAD</p>
                </div>
                <h1>{{forfait.destination}}</h1>
                <h3>Départ de : {{forfait.villeDepart}}</h3>
                <h2>{{forfait.hotel.nom}}</h2> 

                 <app-etoiles [etoiles]="forfait.hotel.nombreEtoiles"></app-etoiles>

                    <p><b>Départ :</b> {{forfait.dateDepart}}</p>
                    <p><b>Durée :</b> 7 Jours</p>
                <div *ngIf="forfait.prix > forfait.rabais; else elseBlock ">
                    <h2><S>{{forfait.prix}}$ CAD</S> - {{forfait.rabais}}$ CAD</h2>
                </div>
                <ng-template #elseBlock><h1>{{forfait.prix}}$ CAD</h1></ng-template>
            </div>
        </div>
    </div>
</div>

