.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-form .example-full-width {
  width: 100%;
}

.example-form td {
  padding-right: 8px;
}

mat-slider {
  width: 300px;
}

.example-container {
  width: 100%;
  height: 100%;
}

mat-form-field {
  margin-right: 12px;
}

.example-margin {
  margin: 15px 15px 15px 0px;
}

.example-full-width {
  margin: 15px 0px;
}

.m5 {
  margin: 20px 0px;
}

.example-spacer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.rabais {
  float: right;
  background-color: red;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.rabais p {
  color: white;
  padding-top: 25px;
  font-weight: bold;
  text-align: center;
}

.vedette img {
  float: right;
  width: 40px;
  height: 40px;
}

.etoiles {
  height: 15px;
  padding-right: 3px;
  margin-bottom: 10px;
}

.example-sidenav {
  padding: 20px;
}

.example-sidenav .fermer {
  float: right;
  background-color: red;
  color: white;
}

.example-sidenav h2 {
  margin-bottom: 30px;
}

.example-sidenav .recherche_bouton {
  padding: 10px 25px;
  background-color: lightblue;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.example-sidenav .recherche_bouton:hover {
  background-color: blue;
}

.boite1 h1, .boite2 h1 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0px;
}

.boite1 h2, .boite2 h2 {
  margin: 10px 0px 0px 0px;
}

.boite1 {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 500px) {
  .boite1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.boite1 .card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  background-color: white;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  max-width: 100%;
  min-width: 350px;
}

@media screen and (max-width: 500px) {
  .boite1 .card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.boite1 .card .container {
  padding: 30px;
}

.boite1 .card .container p {
  margin-bottom: 0px;
}

.boite2 {
  background-color: lightblue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0px;
}

.boite2 .card {
  background-color: white;
  margin: 15px 0px;
}

@media screen and (max-width: 500px) {
  .boite2 .card {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.boite2 .card .container {
  padding: 30px;
}

.boite2 .card .container p {
  margin-bottom: 10px;
}

.boite2 .card .photo {
  max-width: 100%;
  margin-bottom: 10px;
}

.boite3 {
  padding: 30px;
}

.boite4 {
  height: 100%;
  padding: 30px 50px;
}

mat-toolbar a {
  margin-right: 15px;
  font-size: 16px;
}

.footer {
  background-color: lightgrey;
}

#heroFormAjout {
  padding-left: 24px;
  padding-right: 24px;
}

.mat-column-actions {
  min-width: 90px !important;
}

.boutonsAction {
  padding: 0;
}

.boutonsAction form {
  display: inline-block;
}

.tableau {
  width: 100%;
  margin: 30px 0;
}

.tableau .form-add {
  width: 100%;
  background-color: lightgrey;
}

.tableau .form-add h1 {
  text-align: center;
  padding-top: 30px;
}

.tableau .form-add .zone {
  width: 80%;
  margin: 10px 10%;
}

.tableau .form-add .zone2 {
  width: 60%;
  margin-left: 10%;
}

.tableau .form-add .zone2:first-child {
  margin-top: 30px;
}

.tableau .form-add .btnfinal {
  margin: 0% 40% 30px 40%;
  width: 20%;
}

.tableau .form-add .zone_bouton {
  width: 20%;
}

.tableau .form-add .ml5 {
  margin: 15px 10% 0% 10%;
}

.tableau .form-add .add {
  width: 30%;
  margin: 0 0 0 32%;
}

.tableau .form-add button {
  background-color: orange;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  width: 125px;
}

.tableau table {
  width: 100%;
  padding: 30px 10px;
}

.tableau table .mat-form-field-infix {
  max-width: 63px;
  text-align: center;
}

.tableau table td {
  width: 20%;
  padding-left: 0px !important;
  text-align: center;
}

.tableau table td:last-child {
  padding-right: 0px !important;
}

.tableau table td span {
  font-size: 12px;
}

.tableau table th {
  width: 10%;
  text-align: center;
  padding-left: 0px !important;
}

.tableau table th:last-child {
  padding-right: 0px !important;
}

.tableau table th td {
  width: 10%;
}

.tableau table th td span {
  font-size: 12px;
}

.titre {
  text-align: center;
  padding: 30px 0px 0px 0px;
}

.graphique {
  width: 70%;
  margin: 4% 15%;
  height: 300px;
}

.tarte {
  margin: 30px 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: lightblue;
  color: white;
}

.menu_bouton {
  padding: 10px 30px;
  background-color: lightblue;
  color: white;
  margin: 15px 16px !important;
}
/*# sourceMappingURL=styles.css.map */