
.example-form 
  min-width: 150px
  max-width: 500px
  width: 100%


  .example-full-width 
    width: 100%


  td 
    padding-right: 8px


mat-slider 
  width: 300px


.example-container 
  width: 100%
  height: 100%


mat-form-field 
  margin-right: 12px

.example-margin
  margin: 15px 15px 15px 0px
 
.example-full-width 
  margin: 15px 0px




// -------------- Général -------------- //

.m5 
  margin: 20px 0px



// -------------- Header -------------- //

.example-spacer 
  flex: 1 1 auto



// -------------- Ronds Rouge, étoile vedette et étoiles notes -------------- //

// Ronds rouge //

.rabais
  float: right
  background-color: red
  width: 90px
  height: 90px
  border-radius: 50%

  p 
    color: white
    padding-top: 25px
    font-weight: bold
    text-align: center

// étoile vedette //

.vedette

  img 
    float: right
    width: 40px
    height: 40px


// étoiles //

.etoiles
  height: 15px
  padding-right: 3px
  margin-bottom: 10px


// -------------- SideNav -------------- //

.example-sidenav 
  padding: 20px

  .fermer
      float: right
      background-color: red
      color: white

  h2 
    margin-bottom: 30px

  .recherche_bouton 
    padding: 10px 25px
    background-color: lightblue 
    color: white
    font-weight: 700
    border: none 
    border-radius: 4px

    &:hover 
      background-color: blue
      

// -------------- Boites -------------- //

.boite1, .boite2

  h1
    font-size: 30px
    font-weight: 800
    margin-bottom: 0px

  h2 
    margin: 10px 0px 0px 0px 

// Boite 1 //

.boite1
  background-color: #f0f0f0
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center

  @media screen and (max-width: 500px) 
   flex-direction: column
   width: 100% 

  .card 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    margin: 30px
    background-color: white
    flex: 100%
    max-width: 100%
    min-width: 350px

    @media screen and (max-width: 500px) 
      flex: 100%
    

    .container 
      padding: 30px

      p 
        margin-bottom: 0px




// Boite 2 //
  
.boite2
  background-color: lightblue
  align-items: center
  justify-content: center
  padding: 50px 0px

  .card 
    background-color: white
    margin: 15px 0px

    @media screen and (max-width: 500px) 
      flex: 100%
    

    .container 
      padding: 30px

      p 
        margin-bottom: 10px

    .photo
      max-width: 100%
      margin-bottom: 10px

    
 
// Boite 3 //
	
.boite3
  padding: 30px


// Boite 3 //
	
.boite4
  height: 100%
  padding: 30px 50px




// -------------- Menu -------------- //

mat-toolbar 
  a 
    margin-right: 15px
    font-size: 16px


// -------------- Footer -------------- //

.footer
  background-color: lightgrey


// -------------- Table -------------- //

#heroFormAjout 
  padding-left: 24px 
  padding-right: 24px 


.mat-column-actions  
  min-width: 90px !important

.boutonsAction  
  padding: 0
    
.boutonsAction form 
  display: inline-block

.tableau
  width: 100%
  margin: 30px 0


  .form-add 
    width: 100%
    background-color: lightgrey

    h1 
      text-align: center
      padding-top: 30px


    .zone
      width: 80%
      margin: 10px 10%

    .zone2
      width: 60%
      margin-left: 10%

      &:first-child
        margin-top: 30px
        
    .btnfinal
      margin: 0% 40% 30px 40%
      width: 20%

    .zone_bouton
      width: 20%

    .ml5 
      margin: 15px 10% 0% 10% 

    .add 
      width: 30%
      margin: 0 0 0 32%

    button 
      background-color: orange 
      border-radius: 5px
      color: white
      margin-left: 10px
      width: 125px



  table 
    width: 100%
    padding: 30px 10px

    .mat-form-field-infix 
      max-width: 63px
      text-align: center



    td 
      width: 20%
      padding-left: 0px!important
      text-align: center

      &:last-child
        padding-right: 0px!important
      
      span
        font-size: 12px

    th 
      width: 10%
      text-align: center
      padding-left: 0px!important

      &:last-child
        padding-right: 0px!important

      td
        width: 10%

        span 
          font-size: 12px



.titre 
  text-align: center
  padding: 30px 0px 0px 0px

.graphique 
  width: 70%
  margin: 4% 15%
  height: 300px 

.tarte
  margin: 30px 0
  
  
.topnav 
  overflow: hidden
  background-color: #333
  position: relative

  #myLinks 
    display: none

  a 
    color: white
    padding: 14px 16px
    text-decoration: none
    font-size: 17px
    display: block


.topnav a.icon 
  background: black
  display: block
  position: absolute
  right: 0
  top: 0


.topnav a:hover 
  background-color: #ddd
  color: black


.active 
  background-color: lightblue
  color: white

.menu_bouton 
  padding: 10px 30px 
  background-color: lightblue
  color: white
  margin: 15px 16px!important
