
<section class="bottom">
    <mat-grid-list cols="1" rowHeight="4.2:1">
        <mat-grid-tile *ngFor="let forfait of TableauForfaits">
            <mat-card>
                <div class="rabais" *ngIf="forfait.prix > forfait.rabais">
                    <p>Rabais de <br>
                        {{forfait.prix - forfait.rabais}}$ CAD</p>
                </div>
                <img src="https://cdn.pixabay.com/photo/2017/03/27/13/33/atoll-2178747_960_720.jpg"/>
                <mat-card-title>{{forfait.destination}}</mat-card-title>

                <mat-card-subtitle>Départ de : {{forfait.villeDepart}}</mat-card-subtitle>

                <mat-card-content>
                    
                    <h2>{{forfait.hotel.nom}}</h2>
                    {{forfait.hotel.coordonnees}}<br>
                    <app-etoiles></app-etoiles><br><br>
                    
                    {{forfait.hotel.caracteristiques[0]}}<br>
                    {{forfait.hotel.caracteristiques[1]}}<br><br>
                    Départ : {{forfait.dateDepart}} <br>
                    Durée : 7 Jours
                    <div *ngIf="forfait.prix > forfait.rabais; else elseBlock ">
                        <h1><S>{{forfait.prix}}$ CAD</S> - {{forfait.rabais}}$ CAD</h1>
                    </div>
                    <ng-template #elseBlock><h1>{{forfait.prix}}$ CAD</h1></ng-template>      
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</section>
