
.headerMenu
  padding: 5px
  z-index: 1

  .logo
    width: 80px

  svg
    width: 30px
    fill: $orange

  a
    font-size: 20px
    color: white
    opacity: 0.9
    text-decoration: none

    &:hover 
        color: $orange
        text-decoration: none
    
 