.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color{
  color: orange;
  font-size: 18px;
  font-weight: 600;
}


#logo{
  height: 70px;
}

.box1{
  height:90vh;
  min-height: 500px;
  background-image: url('https://images.hdqwalls.com/wallpapers/state-of-decay-2-illustration-ga.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box2{
  height: 500px;
  max-height: 500px;
  width: 100%;
  background-image: url('https://www.g4less.com/images/product/7587_10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box3{
  height: 500px;
  max-height: 500px;
  width: 100%;
  background-image: url('https://wallpaperaccess.com/full/2192261.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box4{
  height: 500px;
  max-height: 500px;
  width: 100%;
  background-image: url('https://images7.alphacoders.com/516/thumb-1920-516429.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer{
  height: 100px;
  background-color: #343a40;
}