@font-face{
    font-family: starJedi;
    src: url(../font/Starjedi.ttf);
}


body {
    width:1000px;
    background-image: url("../img/etoileMort.jpg");
    background-repeat:no-repeat;
    background-color: black;
    margin:auto;
}


h1{
    font-size: 140px;
    color: gold;
    text-align: center;
    font-family: starJedi;
    margin: 0;
}

h2, h3, h4 {
  color: white;
    text-align: center;
}

h2 {
    font-size: 72px;
}

h3{
    font-size: 60px;
}

h4{
    font-size: 44px;
}

p{
    text-align: justify;
    color: white;
    font-size: 16px;
}

img{
    display: block;
    margin: auto;
}

.films{
    color: gold;
}

a{
    text-decoration: underline;
    color: white;
}
