<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>exercice 3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="CSS/style.css"> 
</head>

  <body>
    <div id="app">

      <div class="form">

        <label for="firstName">First Name</label><br>
        <input class="text" id="firstName" type="text" v-model="firstName" />

        <label for="lastName">Last Name</label><br>
        <input class="text" id="lastName" type="text" v-model="lastName" />
        <input type="checkbox" @click="changeColor()">
        <label for="click">Surligne la balise h1</label><br>

        <input type="radio" v-model="gender" v-bind:value="sexe[0]">Homme<br />
        <input type="radio" v-model="gender" v-bind:value="sexe[1]">Femme


      </div>

      <h1 v-bind:class="[{ 'actived': isActive }]">{{gender}} {{firstName}} {{lastName}}</h1>
    
    </div>


      <script>
        
        let vm = new Vue({
          el: "#app",
          data: { 
            firstName: "Erik",
            lastName: "Paquet",
            isActive: false,
            gender:"",
            sexe:[a= "Mr.",b= "Ms."],
          },   
          methods: {
            changeColor() {
              this.isActive = !this.isActive
            }
          }
        });
      </script>

   </body>
</html>



