/* style.css */
/* Par Erik Paquet */
/* 2020-02-04 */

html,body {
    margin:0; height:100%;
}

h1,h2,h3,h4,p{
    font-family: zombie;
}

p{
    font-size: 1.3em;
    color: white;
}

hr{
    background-color: #ff8400;
}

body{
    background-color: #141414;
}

@font-face {
    font-family: zombie;
    src: url("../font/Oswald-VariableFont_wght.ttf");
}


/* -------  Menu  --------- */
.navbar{
    background-color: #141414 ;
}

.navbar-nav li a{
    font-family: zombie;
    font-size: 1.5rem;
}

.toggler{
    color: white;
    font-size:28px;
}

@media only screen and (min-width: 992px){
    .navbar-brand{
        margin-left: 2em;
    }
}

/* --------- Video --------- */
header {
    position: relative;
    background-color: #141414;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

/* Cellulaires */
@media only screen and (max-width: 576px){
    header{
        height: 90vh;
        padding-top: 10vh;
    }
}
/* TABLETTES */
@media screen and (min-width: 577px) and (max-width: 1025px) {
    header  {
        height: 70vh;
        padding-top: 10vh;
    }
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}


@media screen and (min-width: 1199px){
    header .container {
        position: relative;
        margin-left: 17em;
        margin-top: 17em;
        z-index: 2;
    }
}

@media screen and (max-width: 1200px){
    .titre {
        text-align: center;
        align-items: center;
    }
}


header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}


/*  TABLETTES */
@media (min-width: 577px) and (max-width: 991px) {
    header {
        background: url('../images/medium_img_pirate.png') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}
/*  Cellulaires */
@media (max-width: 576px) {
    header {
        background: url('../images/cell_logo.png') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}



/*  --------- Parallax --------- */

.parallax {
    background-image: url("../images/kraken-nice.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


/*  --------- Textes --------- */

.sous {
    text-decoration: underline #ff8400;
}

.orange{
    color: #ff8400;
}

@media (max-width: 991px) {
    .text1 {
        text-align: center;
    }
}

/*  TABLETTES */
@media (min-width: 577px) and (max-width: 991px) {
    p {
        font-size: 1.6em;
    }
}


/*  Cellulaires */
@media (max-width: 576px) {
    p {
        font-size: 1.2em;
    }
}

/*  --------- Bouton --------- */

.boutonPrincipal{
    background-color: #ff8400;
    color: white;
}

.btn:hover {
    background-color: #bf6300;
    color: white;
}


/*  --------- Row --------- */

.background{
    background-color: #ff8400;
}

.row1{
    min-height: 7em;
}

.row2{
    min-height: 25em;
}

.row3{
    height: 30em;
}

.row4{
    height: 70em;
    background-image: url("../images/kraken.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10em;
    padding-bottom: 5em;
}

.row5{
    height: 15em;
}

.row6{
    height: 7em;
    background-color: #ff8400;
}

@media (max-width: 991px) {
    .row6 {
        height: 0em;
    }
}

.row7{
    height: 50em;
}

/*  --------- Image --------- */


.boxImage{
    width: 100%;
}


/*  --------- Box  --------- */


.box1{
    background-color: #ff8400 ;
    padding-top: 3em;
    padding-bottom: 3em;
}

.boxForm{
    background-color: #ff8400 ;
}

.boxContact{
    background-color: rgba(0, 0, 0, .6);
}

/*  --------- Image --------- */

.boxImage{
    width: 100%;
}




