/* style.css */
/* Par Erik Paquet */
/* 2020-02-04 */



html,body {
    margin:0; height:100%;
}


body{
    background-color: #000;
}

@font-face {
    font-family: zombie;
    src: url("../font/Oswald-VariableFont_wght.ttf");
}


/* -------  Menu  --------- */

.navbar-nav li a{
    color:white !important;
}
/* ------ Menu fin -------- */




/* --------- Video --------- */
header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}
/*  --------- Video fin --------- */



.text{
    font-family: zombie;
}

.orange{
    color: #ff8400;
}