/* style.css */
/* Par Erik Paquet */
/* 2020-02-04 */



html,body {
    margin:0; height:100%;
}


body{
    background-color: #141414;
}

@font-face {
    font-family: zombie;
    src: url("../font/Oswald-VariableFont_wght.ttf");
}


/* -------  Menu  --------- */
.navbar{
    background-color: #141414 ;
}

.navbar-nav li a{
    font-family: zombie;
    font-size: 1.5rem;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #ff8400;
    color: white;
}


/* --------- Video --------- */
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    margin-left: 17em;
    margin-top: 17em;
    z-index: 2;
}

/* Cellulaires */
@media only screen and (max-width: 480px){
    header .container {
        text-align: center;
        align-items: center;
        margin-top: 60%;
        margin-left: auto;
    }
}
/* TABLETTES */
@media screen and (min-width: 481px) and (max-width: 1199px) {
    header .container {
        text-align: center;
        align-items: center;
        margin-top: 35%;
        margin-left: auto;
    }
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}


/*  --------- Textes --------- */

h1,h2,h3,h4,p{
    font-family: zombie;
}

.orange{
    color: #ff8400;
}


/*  --------- Bouton --------- */

.boutonPrincipal{
    background-color: #ff8400;
    color: white;
}

.btn:hover {
    background-color: #bf6300;
    color: white;
}


