html,body { margin:0; height:100%;}

.parallax {
    /* The image used */

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1{
    background-image: url("../image/hacker-1569744_1920.jpg");

}

.bg2{
     background-image: url("../image/camera-3985711_1920.jpg");
     background-position: top;
     height: 400px;

 }

.bg3{
    background-image: url("../image/lighthouse-4846854_1920.jpg");
    background-position: top;
    height: 400px;

}


.row1{
    height:50%;
}

.row2{
    height: 25%;
}

.row3{
    height: 10%;
}
.row4  h1{
    font-size: 3rem;
}

.yellow{
    background-color: rgba(254, 224, 1, 0.7) ;
}

.gris{
    background-color: rgba(213, 212, 232, 0.84) ;
    height: 15%;
}

.red{
    background-color: red;
    height: 400px;
}

.blue{
    background-color: blue;
    height: 400px;
}

.green{
    background-color: green;
    height: 400px;
}