html,body{
    width: 100%;
    background-color: lightgray;
}

.row1{
    height: 10em;
}


.row100{
    height:100%;

}

.section1 {
     height: 500px;

 }

.section2 {
    background-image: url("background/blanc.jpg");
    border: 5px solid black;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section3{
    height: 200px;
}

.cols{
    width: 100%;
}

.boxImage{
    width: 100%;
   height: 100%;
}

.lettre{
    width: 100%;
    max-height: 100%;
}

.mots{
    border: 2px solid white;
}

.messageErreur{
    color: red;
}

.box{
    border: 1px solid black;
    height: 30px;
    width: 30px;
}


#red{
    background-image: url("background/rouge.jpg");
}

#rose{
    background-image: url("background/rose.jpg");
}

#noir{
    background-image: url("background/noir.jpg");
}

#gris{
    background-image: url("background/gris.jpg");
}

#bleuFonce{
    background-image: url("background/bleuFonce.jpg");
}

#bleu{
    background-image: url("background/bleu.jpg");
}

#blanc{
    background-image: url("background/blanc.jpg");
}

@media print{
    .noprint{
        display:none;
    }
}