@font-face{
    font-family: toothless;
    src: url(font/Toothless.ttf);
}

h1{
    font-family: toothless;
    color: blue;
    font-size: 2.1em;
}

p,h1,h2,h3,h4,h5
{
   margin-left: 30px;
}

img
{
    padding: 25px;
}

#section1
{
  background-color: #F5F3F2 ;
    padding-bottom: 35px;
    padding-top: 35px;
}

#section2
{
    background-color: #888888;
    padding-bottom: 35px;
    padding-top: 35px;
}

#section3
{
    background-color: lightgray;
    padding-bottom: 35px;
    padding-top: 35px;
}

.belleImage
{
    border: 1px solid #ddd;
    border-radius: 4px;
}

.belleImage:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 05);
}

h2{
    font-size: 2em;
    color: red;
    font-family: 'Roboto', sans-serif;
}