/* style.css */
/* Programmé par erik p.*/
/*2019-11-21*/

p {
   text-align: center;

}


body {
    background: url("../Picture/156846315236271822 (5).png") no-repeat center ;
    margin: auto;
    width: 100%;
}

{}