<div class="box3">
   
    <form class="example-form">


      <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    <!-- Nom -->
        <mat-form-field class="example-full-width">
          <mat-label>Nom de l’hôtel</mat-label>
          <input type="text" matInput placeholder="Ex. The Fives Beach Hotel" value="">
        </mat-form-field>

    <!-- Coordonnées -->
        <mat-form-field class="example-full-width">
            <mat-label>Coordonnées</mat-label>
            <input type="text" matInput placeholder="Ex. Pizza">
          </mat-form-field>

    <!-- etoiles -->
          <mat-label>Nombre d’étoiles</mat-label><br>
            <mat-slider
                thumbLabel
                tickInterval="1000"
                min="1"
                max="5">
            </mat-slider>

    <!-- Nbr de chambre -->
          <mat-form-field class="example-full-width">
            <mat-label>Nombre de chambres</mat-label>
            <input  type="number" matInput placeholder="Ex. 1" >
          </mat-form-field>


    <!-- Caracteristiques  metre un ngfor-->
    
          <mat-checkbox class="example-margin" *ngFor="let forfait of TableauForfaits">{{forfait[0].hotel.caracteristiques}}</mat-checkbox><br>
          


          <!-- ici -->
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button (click)="picker.open()">Open</button>

    <!-- prix -->
            <mat-form-field class="example-full-width">
                <mat-label>Prix</mat-label>
                <input  type="number" matInput placeholder="Ex. 1000">
            </mat-form-field>

      </form>
  
</div>