/* style.css */
/* Par Erik Paquet */
/* 2020-05-16 */

body{
    background-color: black;
}

.box{
    background-color: #333333;
    height: 1230px;
    width: 100%;
}

.bloc{
    height: 200px;
}

.paypalbox{
    background-color: white;
    width: 380px;
}

hr{
    background-color: white;
}