/* style.css */
/* Par Erik Paquet */
/* 2020-05-16 */

body{
    background-color: black;
    font-size: 1.2rem;
}

.box{
    background-color: #333333;
    height: 73.16em;
    width: 100%;
}

h2{
   font-size: 2.4rem ;
}

.bloc{
    height: 19.3em;
}

.paypalbox{
    background-color: white;
    width: 23.83em;
}

hr{
    background-color: white;
}

.pright{
    padding-right: 3px;
}

.pleft{
    padding-left: 3px;
}



