.textblanc {
    color: white;
}

.textNoir{
    color: black;
}

.div1{
    background-image: url("image/camera-3985711_1920.jpg");
    background-repeat:no-repeat;
    background-color: black;
    margin:auto;
    padding-bottom: 190px;
    padding-top: 250px;
}

hr{
    margin-bottom: 25px;
    margin-top: 25px;
    max-width: 50px;
    border-width: 3px;
}

.hr1{
    border-color: #1c7430;
}

.hr2{
border-color: white;
}

.deux{
    background-color: #1c7430;
    padding-top: 70px;
    padding-bottom: 70px;
}


.p1{
    color: #888888;
}

.espace{
    padding: 10px;
}

