

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button class="fermer" type="button" mat-button (click)="drawer.toggle()">
     X
    </button>
    <h2>Formulaire de recherche</h2>
    <app-recherche [(formulaire)]="formulaire"></app-recherche>
  </mat-drawer>

  <mat-toolbar>

    <a class="menu" routerLink="/accueil">Accueil</a>
    <a routerLink="/a-propos">A propos</a>
    <a routerLink="/gestion">Gestion</a>

      <span class="example-spacer"></span>
      <button type="button" mat-button (click)="drawer.toggle()">
        Menu
      </button>
      
   </mat-toolbar>
    
<router-outlet></router-outlet>

<app-footer></app-footer>

</mat-drawer-container>


