/* style.css */
/* Par Erik Paquet */
/* 2020-02-04 */

body{
    background-color: #0b0b0b;
}

@font-face {
    font-family: witcher;
    src: url("../font/Thewitcher-jnOj.ttf");
}


hr{
    background: #353434;
    height: 1px;
    border-style: none;
    margin: 2% 0;
}


.textCouleur{
    color:#6c6c6c;
}

.baniere{
    background-image: url("../img/witcherBanniere.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 70vh;

}

.text{
    font-family: witcher;
}
