<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>exercice 4</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="CSS/style.css">
</head>

  <body>
    <div class="form">
        <div id="ddd">
            <formulaire></formulaire> 
        </div>

   
        <div id="app">
            <modal></modal>
        </div>

        <div id="ccc"></div>

    </div>


      <script>

       // --------------- vue 1 -------------------- //   
       let vm = new Vue({
          el: "#app",
          data: { 
            firstName: "Erik",
            lastName: "Paquet",
            leModal: false,
            isActive: false
          },    
          methods: {
            changeColor() {
              this.isActive = !this.isActive
            }
          } 
        });

        Vue.component("modal", {
        template: `
                    <button class="button" v-on:click="showThisModal">
                    Soumettre le formulaire
                    </button>
                    <transition name="fade" appear>
                    <div
                        class="modal-overlay"
                        v-if="leModal"
                        @click="leModal = false"
                    ></div>
                    </transition>
                    <transition name="slide" appear>
                    <div class="modal" v-if="leModal">
                        <input type="checkbox" @click="changeColor()">
                        <label for="click" v-bind:class="[{ 'actived': isActive }]">Changer de couleur !</label><br>
                        <h1 v-bind:class="[{ 'actived': isActive }]">{{firstName}} {{lastName}}</h1>
                        <button class="button" v-on:click="leModal = false">
                        Fermer
                        </button>
                    </div>
                    </transition> 
                  `
        });


        // --------------- vue 2 formulaire -------------------- //
        let fm = new Vue({
            el: "#ddd",
        });


        Vue.component("formulaire", {
        template: `
                    <label for="firstName">First Name</label><br>
                    <input id="firstName" type="text" v-model="firstName" /><br><br>
                    <label for="lastName">Last Name</label><br>
                    <input id="lastName" type="text" v-model="lastName" /><br><br>
                  `
        });




        // --------------- vue 3 modal -------------------- //
        let gm = new Vue({
            el: "#ccc",
        });



      </script>

  </body>
</html>
