<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>exercice 4</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="CSS/style.css">
</head>

  <body>
    <div id="app">

      <!-- Formulaire-->
      <div class="form">

        <label for="firstName">First Name</label><br>
        <input class="text" id="firstName" type="text" v-model="firstName" />

        <label for="lastName">Last Name</label><br>
        <input class="text" id="lastName" type="text" v-model="lastName" />

        <input type="radio" v-model="gender" v-bind:value="sexe[0]">Homme<br />
        <input type="radio" v-model="gender" v-bind:value="sexe[1]">Femme<br />




        <!-- Bouton avec Modal-->
        <button class="button" v-on:click="leModal = true">
          Soumettre le formulaire
        </button>
        <transition name="fade" appear>
          <div
            class="modal-overlay"
            v-if="leModal"
            @click="leModal = false"
          ></div>
        </transition>
        <transition name="slide" appear>
          <div class="modal" v-if="leModal">
            <input type="checkbox" @click="changeColor2()">
            <label for="click" v-bind:class="[{ 'actived2': isActive2 }]">Changer de couleur !</label><br>
            <h1 v-bind:class="[{ 'actived2': isActive2 }]">{{gender}} {{firstName}} {{lastName}}</h1>
            <button class="button" v-on:click="leModal = false">
              Fermer
            </button>
          </div>
        </transition> 

      </div>
    </div>

      <script>
        new Vue({
          el: "#app",
          data: { 
            firstName: "Erik",
            lastName: "Paquet",
            leModal: false,
            isActive2: false,
            gender:"",
            sexe:[a= "Mr.",b= "Ms."],
          },    
          methods: {
            changeColor2() {
              this.isActive2 = !this.isActive2
            }
          } 
        });
      </script>

  </body>
</html>
